<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.sts4x.model.GuestDao">
  <select id="selectAll" resultType="com.hb.sts4x.model.entity.GuestVo">
  select * from guest order by idx desc
  </select>
  <select id="selectOne" parameterType="int" resultType="com.hb.sts4x.model.entity.GuestVo">
  select * from guest where idx=#{idx}
  </select>
  <insert id="insertOne" parameterType="com.hb.sts4x.model.entity.GuestVo">
  insert into guest (sub, content, cnt) values (#{sub}, #{content}, 0)
  </insert>
</mapper>